#onboarding{
    background-image: url('./asset/background.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    padding: 50px;
    min-height:789px;
    
}